AULA 07 >> Matheus Monte

In [ ]:
#.... pulando algumas paginas do slide (Anotar)

Exercicios

In [ ]:
#Faca um programa para imprimir:
#Para um n informado pelo usuario. Use uma funcao que receba um valor n inteiro e imprima ate a n-esima linha.
#1
#22
#333

In [ ]:
input=(n):
print(range(1, n+1))

SyntaxError: ignored

In [ ]:
#o usuario ira inserir o valor de n, onde n ira ser repitido a quantidade de vezes (range) de (1, n+1): apos isso ira printar o valor repetidas vezes o quanto ele foi multipplicado.
#Ou seja, o string e multiplicado para aparecer mais vezes, e nao para mudar o valor do numero.
def ex1(n):
  for i in range(1, n+1):
    print((str(i)+ ' ')*i)

In [ ]:
obj1 = ex1(8)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [ ]:
def ex1(n):
  for i in range(3, n+3):
    print((str(i)+ ' ')*i)

In [ ]:
obj2 = ex1(10)

3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12

In [ ]:
#Ex 2

def ex2(x):
  z = []
  for i in range(1, x+1):
    z.append(i) #Adicionar em z(lista) o valor i 
   # x +=1
    print(z)

In [ ]:
obj1 = ex2(int(input()))

10
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:

def ex2(x):
  z = []
  for i in range(1, x+1):
    z.append(i) #Adicionar em z(lista) o valor i 
   # x +=1
    print(z)

In [ ]:
#Ex 3 -  faca um programa com uma funcao que necessite de tres argumentos, e que forneca a soma desses tres argumentos.

In [ ]:

class Exemplo():
  def __init__(self, num1, num2, num3):
    self.num1 = num1
    self.num2 = num2
    self.num3 = num3

  def somadeValores (self):
    return  (int(num1 + num2 + num3))
  
valores = Exemplo (10, 20, 30)
print(valores.somadeValores())

101010

In [ ]:
num1 = input(str("Insira um valor: "))    
num2 = input(str("Insira um valor: "))  
num3 = input(str("Insira um valor: "))

class Exemplo():
  def __init__(self, num1, num2, num3):
    self.num1 = num1
    self.num2 = num2
    self.num3 = num3

  def somadeValores (self):
    return  (int(num1 + num2 + num3))
  
valores = Exemplo (10, 20, 30)
print(valores.somadeValores())

In [ ]:
def exercicio03(n1,n2,n3):
  return n1 + n2 + n3

In [ ]:
print(exercicio03(15,20,30))

65

In [ ]:
#ou
obj2 = exercicio03(10,20,30)
print(obj2)

60

In [ ]:
#4 Faca um programa com uma funcao que necesite de um argumento. A funcao retorna o valor de caractere "P", se seu argumento for positivo, e "N", se seu argumento for zero ou negativo

In [ ]:
def char(e):
  if e > 0:
    print("P")
  else:
    print("N")

In [ ]:
objchar = char(int(input("Digite um valor inteiro: ")))

Digite um valor inteiro: 100
P

In [ ]:
#5 baseado na questao da aula 5 passada 

def somaImposto(taxaImposto, custo):
  taxa = taxaImposto /100
  custo = custo
  custoAlterado = (custo * taxa) + custo
  return custoAlterado

In [ ]:
obj = somaImposto(20, 100)
print(obj)

120.0

In [ ]:
def somaImposto(taxaimposto, custo):
  print((0.01*taxaimposto)*custo + custo)

In [ ]:
obj2 = somaImposto(10,100)

110.0

In [ ]:
#9 Reverso do numero. faca uma funcao que retorne o reverso de um numero inteiro informado. por exemplo: 127 > 721

In [ ]:
valor = num = input("Insira o seu primeiro nome:")
nome2=num[::-1]
print(nome2)

Insira o seu primeiro nome:120
021

In [ ]:
def reverse(x):
  print(x[-1:-(len(x)+1):-1])

In [ ]:
obj1 = reverse(input("Digite um valor: "))

Digite um valor: 120
021

In [ ]:
def exe9(n):
  inverso=str(n)
  print(inverso[::-1])

In [ ]:
ooo = exe9(120)

021